@"
# =============== #
# Unity .gitignore
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
[Pp]ackages/com.unity.collab-proxy/
[Pp]ackages/com.unity.package-manager/
*.unityproj
*.tmproj
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini
sysinfo.txt
*.apk
*.aab
*.xcodeproj
*.xcworkspace
*.ipa
*.app
*.exe
*.dll
*.so
*.dylib
*.bundle
*.log
Library/**/*.meta
*.shadercache
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*
/[Aa]ssets/[Ll]ightmap*/
/[Ll]ightmapSnapshot.asset
/[Aa]ssets/[Cc]rashReports/
!/[Aa]ssets/
!/[Pp]rojectSettings/
!/[Pp]ackages/
"@ | Out-File -Encoding utf8 .gitignore
